ul {
  margin-left: 0 !important;
  min-width: 300px;
  padding-left: 0 !important;
}

li {
  display: flex;
  list-style-type: none;
  margin: 10px 0;
  padding: 0px;
  text-align: center;
  justify-content: space-between;
}

.user-info {
  white-space: pre;
}
